/* =========================
   全局
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Segoe UI","Microsoft YaHei",sans-serif;

    background:#061220;

    overflow-x:hidden;

    overflow-y:auto;

    color:white;

}

/* =========================
   背景
========================= */

.background{

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle at top,#008CFF 0%,transparent 35%),
    radial-gradient(circle at bottom,#004D99 0%,transparent 40%),
    #061220;

    filter:blur(10px);

    z-index:-1;

}

/* =========================
   主容器
========================= */

.player{

    width:(1400px，95%);

    height:780px;

    margin:40px auto;

    display:grid;

    grid-template-columns:280px 1fr 320px;

    gap:25px;

}

/* =========================
   毛玻璃
========================= */

.playlist,
.center,
.lyric{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:25px;

    box-shadow:0 20px 60px rgba(0,0,0,.4);
    color:#333

}
/* =========================
   左侧
========================= */

.playlist{

    padding:25px;

}

.playlist h2{

    color:#3fa9ff;

    margin-bottom:20px;

}

#playlist{

    list-style:none;

}

#playlist li{

    padding:12px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

#playlist li:hover{

    background:rgba(255,255,255,.12);

}
/* =========================
   中间播放器
========================= */

.center{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
    padding:40px

}

.disc{

    width:360px;

    height:360px;

    border-radius:50%;

    overflow:hidden;

    box-shadow:0 0 40px rgba(0,140,255,.5);

}

.disc img{

    width:100%;

    height:100%;

    object-fit:cover;

}
@keyframes rotate{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

.playing{

    animation:rotate 15s linear infinite;

}
/* ===== Butterfly 音乐页 ===== */

/* 隐藏右侧栏 */
.layout > .aside-content{
    display:none;
}

/* 文章区域占满 */
.layout > #page{
    width:100% !important;
    max-width:100% !important;
}

/* 播放器撑满页面 */
.player{

    width:100%;

    max-width:1500px;

    min-height:780px;

    margin:40px auto;

    display:grid;

    grid-template-columns:1fr 2fr 1fr;

    gap:30px;

}
#lyric{

    height:600px;

    overflow-y:auto;

    padding:20px;

    text-align:center;

}

#lyric p{

    margin:16px 0;

    color:#888;

    transition:.3s;

}

#lyric p.active{

    color:#2196f3;

    font-size:22px;

    font-weight:bold;

}